.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  height: calc(100vh - (64px + 80px));

  .inputContainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .inputContainer > * {
    flex: 1;
  }

  .studentList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
  }
}
